/* LandingPage.css */


  .faded-box {
    background-color: rgba(0, 0, 0, 0.82);
    max-width: 100%;
    color: white;
    height: 100vh;
    background-image: url("../img/img-three.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }

.middlelayer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

  .innerbox {
    background-color: rgba(0, 0, 0, 0.884);
    padding: 20px;
    width: 40%;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    margin: 15px;
    opacity: 0.8;
  }

  .r-image {
    background-color: rgba(0, 0, 0, 0.084);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;

  }

  .left-box {
 
    padding: 20px;
    width: 38%;
    height: 73%;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    margin: 15px;
    background-image: url("../img/header_img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .lefty-box{
    padding: 20px;
    width: 38%;
    height: 73%;
    color: rgb(255, 255, 255);
    margin: 15px;
    background-image: url("../img/nothing.webp");
    background-repeat: no-repeat;
    background-size: cover;

  }

  .right-box {

    padding: 20px;
    width: 52%;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    margin: 15px;
    opacity: 0.65;
  }

  section{
    background-color: rgb(10, 62, 83);
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  }

  .about-box{
    width: 16rem;
    height: 16rem;
    border-radius: 15%;
    color: rgb(255, 255, 255);
    margin: 15px;
    background-image: url("../img/logoimage.jpg");
    background-size: cover;
    animation: arrow-down ease 2s infinite;

  }
  
  @keyframes arrow-down{
    0%{
      transform: translateY(0);
    }
    30%{
      transform: translateY(20px);
    }}



.pin{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


  .slide-up-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    transition:  0.5s ease;
  }

  .slide-up-button:hover {
    background-position: 0 -100%;
    background-color: rgb(18, 90, 118);
    color: #fff !important;


  }
  
  .swih{

    height: 1%;
    background-color: rgb(18, 90, 118);


  }
  /* Add responsive styles as needed */
  @media screen and (max-width: 430px) {
    .landing-content {
      font-size: 16px;
    }
    .innerbox {
      width: 100%;
    }

    .r-image {

        flex-direction: column;
    
      }
    
      .left-box {
     
        display: none;

      }

      .right-box {
        width: 80%;
      }
  }

    @media screen and (max-width: 768px) {
        .landing-content {
        font-size: 16px;
        }
        .innerbox {
        width: 100%;
        }
    
        .r-image {
    
            flex-direction: column;

        
        }
        
        .left-box {
         
            display: none;
    
        }

        .right-box {
            width: 80%;
          }
    }
  